{% extends 'base.html.twig' %}

{% block title %}Liste de client{% endblock %}

{% block body %}
    <h1>Liste de clients</h1>
    <table>
        <tr>
            <td>
                <a href="{{ path('app_customers_new') }}">Ajouter un client</a>
            </td>
        </tr>
        <tr>
            <th>Client</th>
            <th>Tâches</th>
        </tr>
        
    
        {% for customer in customers %}
            <tr>
                <td>
                    <a href="{{ path('app_customers_show', { id: customer.id }) }}">{{ customer.name }}</a>
                </td>
                <td>
                    <p >{{ customer.task|length }}</p>    
                </td>
                <td>
                    <a href="{{ path('app_customers_edit', { id: customer.id }) }}">Modifier</a>    
                </td>
                <td>
                    <a href="{{ path('app_customers_delete', { id: customer.id }) }}" onclick="return confirm('Voulez vous vraiment supprimer {{ customer.name }} ?')" >Supprimer</a>    
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucun client</td>
            </tr>
        {% endfor %}
        
    </table>

{% endblock %}
