{% extends 'base.html.twig' %}

{% block title %}Liste de t창che d'un client{% endblock %}

{% block body %}
{% set break = false %}
{% for task in tasks %}
    {% if not break %}
        {% if task.customer.slug == customer_slug %}
            <h1>{{ task.customer.name }}</h1>
            {% set break = true %}
        {% endif %}
    {% endif %}
{% endfor %}
{% include "task/_navbar.html.twig" %}
<table>
    <tr>
        <td>
            <a href="{{ path('app_tasks_new', { customer_slug: customer_slug }) }}">Ajouter une t창che</a>
        </td>
    </tr>
    <tr>
        <th class="task_title">T창ches</th>
    </tr>
    {% set Task = false %}
    {% for task in tasks %}
        {% if task.customer.slug == customer_slug %}
            {% set Task = true %}
            <tr>
                <td>
                    <h2 class="task_name">- {{ task.name }} -</h2>
                </td>
                <td>
                    <a href="{{ path('app_tasks_edit', { customer_slug: task.customer.slug,slug: task.slug }) }}">Modifier</a>
                </td>
                <td>
                    <a href="{{ path('app_tasks_delete', { customer_slug: task.customer.slug,slug: task.slug }) }}" onclick="return confirm('Voulez vous vraiment supprimer votre t창che ? #{{ task.name }}#')">Supprimer</a>
                </td>
            <tr>
                <td>
                    <p class="task_content">* {{ task.content }} *</p>
                </td>
            </tr>
            </tr>
        {% endif %}
    {% endfor %}
    {% if not Task %}
            <tr>
                <td>
                    <p>No task</p>
                </td>
            </tr>
            {% endif %}
</table>
{% endblock %}
